<!DOCTYPE html> 
<html>
    <head>
        <title>Submission-Form</title>
    </head>
    <body>
        <form action='/submitForm/addToDb' method='POST'>
            ROLLNO: <input type="text"  name="ROLLNO"> <br>
            STUDNAME: <input type="text" name="STUDNAME"> <br>
            <br>
            <input type="submit" name="submit"></input>
        </form>
    </body>
</html>